<%= form_for item, html: { multipart: true} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Описание %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Цена %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :brand_id %><br />
    <%= f.collection_select :brand_id, Brand.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :Категория %><br />
    <%= f.collection_select :category_id, Category.where(parent_id: 1), :id, :name %>
  </div>
  <div class="field">
    <%= f.label :Пол %><br />
    <%= f.select :sex, Item.sex.options %>
  </div>
  <div class="field">
    <%= f.label :Фото %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "Cсылка фото" %><br />
    <%= f.text_field :remote_image_url %>
  </div>
  <label>
    <%= f.check_box :remove_image %><br />
    Remove image
  </label>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
