
<p>
  <b>Название:</b>
  <%= @item.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @item.description %>
</p>

<p>
  <b>Цена:</b>
  <%= @item.price %>
</p>

<p>
  <b>Бренд:</b>
  <%= @item.brand.name %>
</p>

<p>
  <b>Пол:</b>
  <%= @item.sex %>
</p>

<p>
  <b>Категория:</b>
  <%= @item.category.name %>
</p>

<p>
  <%= image_tag @item.image_url(:thumb).to_s %>
</p>

<p>
  <%= button_to "добавить в Корзину", add_to_cart_item_path(@item), method: :put %>
</p>



<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Список товаров', items_path %>
