<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @item.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @item.description %>
</p>

<p>
  <b>Цена:</b>
  <%= @item.price %>
</p>


<%= link_to 'Изменить', edit_item_path(@item) %> |
<%= link_to 'Список товаров', items_path %>
